@media screen and (max-width: 480px) {   
    .mandarim-logo {
        height: 120px;
    }
    
    .madarim-logo-signature {
        height: 160px;
    }
    
    .rights {
        font-size: 14px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {    
    .mandarim-logo {
        height: 150px;
    }
    
    
    .madarim-logo-signature {
        width: 90%;
        height: 150px;
    }
    
    .rights {
        font-size: 10px;
    }
}