@media screen and (max-width: 480px) {
  
  /*Highlight start*/ 
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 350px 280px 280px;
    padding: 0px;
  }
  
  .highlight-text {
    gap: 8px;
  }

  .topic-highlight h1 {
    font-size: 20px;
  }

  .highlight-text .highlight-subtitle {
    font-size: 12px;
  }

  .highlight-source {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    font-size: 10px;
    border-bottom-width: 2px;
  }
  /*Highlight of end*/

  /*Start of reports*/
  .post {
    height: 290px;
    justify-content: start;
  }

  .post-image {
    width: 100%;
    height: 200px;
  }

  .post-img-container {
    align-items: center;
  }

  .post-title {
    font-size: 19px;
  }

  .post-text {
    height: 85px;
  }

  .post-source-first {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    font-size: 12px;
    border-bottom-width: 2px;
  }

  .post-source-second {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100px;
    font-size: 12px;
    border-bottom-width: 2px;
  }
  /*End of reports*/

}

@media screen and (min-width: 481px) and (max-width: 768px) {
  
  /*Highlight start*/ 
  .highlight-text {
    gap: 8px;
  }

  .topic-highlight h1 {
    font-size: 22px;
  }

  .highlight-text .highlight-subtitle {
    font-size: 15px;
  }

  .highlight-source {
    padding-bottom: 10px;
    width: 200px;
    font-size: 12px;
  }
  /*Highlight of end*/

  /*Start of reports*/
  .post {
    height: 275px;
    justify-content: flex-start;
  }

  .post-image {
    height: 170px;
  }

  .post-text {
    height: 95px;
  }

  .post-title {
    font-size: 16px;
  }

  .post-source-first {
    width: 90px;
    font-size: 12px;
    border-bottom-width: 4px;
  }

  .post-source-second {
    width: 90px;
    font-size: 12px;
  }
  /*End of reports*/
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  
  /*Highlight start*/
  .topic-highlight h1 {
    font-size: 28px;
  }

  .highlight-text .highlight-subtitle {
    font-size: 17px;
  }

  .highlight-source {
    width: 300px;
    font-size: 12px;
  }
  /*Highlight of end*/

  /*Start of reports*/
  .post {
    height: 410px;
  }

  .post-img-container {
    justify-content: center;
    align-items: center;
  }

  .post-image {
    height: 250px;
  }

  .post-text {
    padding-top: 10px;
  }

  .post-title {
    font-size: 24px;
  }

  .post-source-first {
    width: 150px;
    font-size: 12px;
  }

  .post-source-second {
    width: 150px;
    font-size: 12px;
  }
  /*End of reports*/
}

@media screen and (min-width: 1280px) and (max-width: 1380px) {
  
  /*Highlight start*/
  .topic-highlight h1 {
    font-size: 36px;
  }

  .highlight-source {
    color: rgb(184, 184, 184);
  }
  /*Highlight of end*/

  /*Start of reports*/

  .post-img-container {
    justify-content: center;
    align-items: center;
  }

  .post-title {
    font-size: 32px;
  }

  /*End of reports*/
}